
.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    float: left;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

.info {
    background-color: brown;
    position: relative;
    width: 33%;
    margin-left: 33%;
    margin-right: auto;
}

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.question {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.answer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.logo {
    float: left;
    border-radius: 50%;
}


.center {
    margin: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50%;
    border: 3px solid blue;
    padding: 10px;

}